
.card{
    margin: 40px;
}

.card-group>.card:not(:last-child) {
    border: 1px solid #000
}
    
.card-group>.card:not(:first-child) {
    border: 1px solid #000

}

.card-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}